---
layout: base
---
<div class="flex justify-center py-8">
  {{content}}
</div>

<div style="width: 80%; margin: auto; gap: 24px; columns: 2; column-gap: 24px; margin-bottom: 40px;">
  {% for post in site.posts %}
  <div style="padding-bottom: 32px; margin-bottom: 32px; break-inside: avoid;">
    <div style="transition: all 0.3s ease-in-out; transform-origin: center;">
      <a href="{{ post.url | relative_url }}" 
         style="text-decoration: none; transition: all 0.3s ease-in-out; display: block;">
        <img src="{{ post.image | relative_url }}" alt="" 
             style="width: 100%; max-width: 640px; height: auto; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
        <h2 style="font-size: 1.25rem; padding-top: 20px; font-family: monospace; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          {{ post.title }}
        </h2>
      </a>
    </div>

    <div style="padding-top: 8px;">
      {% for tag in post.tags limit:3 %}
      <span style="font-size: 0.75rem; color: rgba(100, 100, 100, 0.8); vertical-align: middle;">#{{ tag }}</span>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
